body {
	color: white;
	background: #DDD url('/img/shirt-FPO.png') repeat scroll left top;
}

#container {
	margin: 0 auto;
	width: 960px;
}

header {
	text-align: center;
}

	#container > header h1 {
		font: normal 36px/40px impact;
	}
	
	#container > header h2 {
		font: normal 1em/2em serif;
	}