body {
	color: white;
	background: #DDD url('/img/shirt-FPO.png') repeat scroll left top;
}

#container {
	margin: 0 auto;
	width: 960px;
}

#container > header {
	text-align: center;
	margin-top: 4em;
}

	#container > header h1 {
		font: normal 36px/40px impact;
	}
	
	#container > header h2,
	#container > header h3 {
		font: italic 2em/1 serif;
	}

	header nav#page-nav {
		font-size: 2em;
		line-height: 1em;
		margin: 2em 0 1em;
	}
	
		header nav#page-nav ul li {
			display: inline;
			padding: 0 1em;
		}
	
	header nav#me-on-the-tubes {
		font-size: 1.5em;
		line-height: 1.333em;
	}
		